<launch>


    <!-- Parameters Setting -->
    <arg name="robot_radius" default="0.1"/>
    <param name="robot_radius" type= "double" value="$(arg robot_radius)"/>

    <arg name="robot_count" default="50"/>
    <param name="robot_count" type= "int" value="$(arg robot_count)"/>

    <arg name="minimum_order"   default="3.0"/>     <!-- 3.0: jerk    4: snap -->

    <arg name="bezier_order"  default="5"/>     <!-- bezier curve order  -->







    <!-- start map-server and publish user map -->
    <arg name="map" default="sim-map.yaml" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(find multi-robot-planner)/mapfile/$(arg map)" required="true"/>

    <!-- get the inflated map and publish user map -->
    <node name="map_inflator"   pkg="multi-robot-planner" type="Map_Inflation">
    </node>

    <!-- generate the start points and goals for robots
    <node name="robot_path_planner"   pkg="multi-robot-planer" type="path_planner" output="screen">
    </node> -->

    <node name="path_planning"   pkg="multi-robot-planner" type="Path_Planner" output="screen">
        <param name="minimum_order"  value="$(arg minimum_order)"/>
        <param name="bezier_order"  value="$(arg bezier_order)"/>

    </node>

    <!-- Open Rviz to visualize-->
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find multi-robot-planner)/launch/sim.rviz" />


</launch>